
<p *ngIf="id != null">
  You have logged in!!! Welcome {{id}}
</p>

<br><br>
<p *ngIf="user != null">

  Username: {{user.username}}<br>
  ID: {{user.google_id}}<br>
</p>

<div *ngIf="user!=null">
  <div *ngIf="user.rooms != null">
      <div *ngFor="let room of user.rooms">
          <button (click)="dispRoomData(room)">{{room}}</button>
      </div>
  </div>

</div>

<div>
  Enter a New Room:
    <form #f="ngForm" (ngSubmit)="submitRoom(f)" novalidate>
        <input name="newRoom" ngModel required #newRoom="ngModel">
        <button>Submit</button>
      </form>
</div>

<!-- modal html from: https://www.w3schools.com/howto/howto_css_modals.asp -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span (click)="closeModel()" class="close">&times;</span>
        <app-data [selectedRoom]="selectedRoom"></app-data>
    </div>
</div>
